.f1{color: blueviolet;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}
.f2{background-color: blueviolet;}
#no1{color: darksalmon;
text-align: center;}
#but1{color: blueviolet;
background-color: aqua;
border-radius: 70%;}
#but2{color: darkorange;
background-color: brown;
text-align: start;}